<p id="notice"><%= notice %></p>

<h1><%= @product.name %></h1>
<%= link_to image_tag(@product.picture, width: 300), @product %>
<p>
  <%= @product.description %>
</p>

<p>
  <strong>Precio:</strong>
  <%= number_to_currency @product.price, precision: 0 %>
</p>

<p>